@import "../../../index.scss";

.button {
  @include baseControl;
  border: 0;
  background-color: $secondary-color;
  &--primary{
    background-color: $primary-color;
    color: white;
  }
  &:hover{
    background-color: $secondary-color-dark;
    transform: scale(1.01);
  }
  &--primary:hover{
    background-color: $primary-color-dark;
  }
}